
#banner-about {
    background-image: url(../Images/thomas-serer-413745-unsplash.png); 
    background-color: #0D47A1;
      background-position: center center;
      background-size: cover;
      color: #ffffff;
      padding: 14rem 0rem 14rem;
      text-align: center;
     
      height: 100vh;
  .inner{
      width: 50%;
      margin: 0 auto;
    h1{
        font-size: 5rem;
        line-height: 1.25em;
        margin: 0 0 2.5rem 0;
        padding: 0;
        font-family: 'open sans';
        color: #E3F2FD;
        border-top: 3px solid #fcfcfc;
        border-bottom: 3px solid #fcfcfc;
    }
  }
}

.team-member {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 20rem;
    
.t-card {
    font-size: 2rem;
    font-family: 'open sans';
    line-height: 1.125;
    h4{
        margin-bottom: 1rem;
        color: #E3F2FD;
        font-family: 'open sans';
    }
    p{
        margin-bottom: 3rem;
        color: #E3F2FD;
        font-family: 'open sans';
    }
    a{
        text-decoration: none;
        font-family: 'open sans';
        color: #E3F2FD;
        font-weight: 700;
        background-color: #1976D2;
        padding: 10px;
        border-radius: 7px;
    }

}

}
