#header {
    #nav {
        a {
            margin-right: 3rem;
        }
        @media @tablet {
            justify-content: center;
        }
        @media @phone {
            justify-content: space-evenly;
            margin-top: 2rem;
        }
    }
}

#banner-about {
    .basicBanner();
    padding-top: 11rem;
    @media @tablet {
        padding-top: 7rem;
        margin: 0;
    }
    @media @phone {
        padding-top: 8rem;
        padding-bottom: 120rem;
    }
    .inner {
        width: 50%;
        margin: 0 auto;
        @media @phone {
            margin-bottom: 2rem;
            width: 70%;
        }
        h1 {
            font-size: 5rem;
            line-height: 10.25rem;
            margin: 4rem 0 5rem 0;
            padding: 0;
            color: @font-color;
            border-top: 3px solid @font-color;
            border-bottom: 3px solid @font-color;
            @media @tablet {
                font-size: 4rem;
                line-height: 7.25rem;
                margin: 4rem 0 4rem 0;
            }
            @media @phone {
                font-size: 2rem;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media @tablet {
        justify-content: center;
        width: 100%;
    }
    @media @phone {
        padding-top: 1rem;
    }
    .t-card {
        width: 25.5%;
        height: 100px;
        margin: 3rem 2.5%;
        color: @font-color;
        .center(column);
        @media @tablet {
            width: 33%;
            margin: 2.7rem 7.5%;
        }
        @media @phone {
            margin: 2.5rem 9.5%;
            width: 33%;
        }
        .t-card-header {
            margin-bottom: 1.5rem;
            color: @font-color;
            font-size: 2rem;
            font-weight: bold;
            @media @phone {
                margin-bottom: 1rem;
            }
        }
        .t-card-text {
            margin-bottom: 1.8rem;
            color: @font-color;
            font-size: 1.8rem;
            @media @phone {
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
            }
        }
        .git-link {
            .link()
        }
    }
    .special {
        @media @tablet {
            margin-bottom: 1rem;
        }
        @media @phone {
            margin-bottom: 1rem;
        }
    }
}

.company-card {
    .center(column);
    margin-bottom: 9rem;
    @media @tablet {
        margin-bottom: 1rem;
    }
    @media @phone {
        margin-bottom: 0rem;
    }
    .soccer-ball-img {
        margin-bottom: 2rem;
        width: 10rem;
        @media @tablet {
            margin-bottom: 1rem;
        }
        @media @phone {
            margin-bottom: 1.5rem;
            width: 7rem;
        }
    }
    .c-card-header {
        margin-bottom: 1.5rem;
        color: @font-color;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
        @media @phone {
            line-height: 1.2;
            margin-bottom: 1rem;
        }
    }
    .c-card-text {
        margin-bottom: 1.8rem;
        color: @font-color;     
        font-size: 1.8rem;
    }
    .git-link {
        .link();
    }
}