.collection {
    background: #0D47A1;
    padding-bottom: 4rem;
    .collection-header {
        text-align: center;
        font-size: 4rem;
        font-family: 'open sans';
        color: #E3F2FD;
        padding-top: 4rem;
        font-weight: 700;
        letter-spacing: 3px;
        @media @phone {
            line-height: 5rem;
            padding-top: 3rem;
            font-size: 3rem;
        }
    }
    .collection-btn {
        display: block;
        margin: 0 auto;
        font-family: 'open sans';
        background-color: #1976D2;
        color: #E3F2FD;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        width: 15rem;
        height: 5rem;
        font-size: 2.1rem;
        letter-spacing: 1px;
        &:hover {
            background-color: #E3F2FD;
            color:  #1976D2;
       }
        &:hover {
            background-color: #E3F2FD;
            color:  #1976D2;
       }
       @media @phone {
        width: 40%;
        height: 5rem;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 3rem;
       }
    }
}


.stat-collection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    @media @tablet {
        flex-direction: column;
    }
    @media @phone {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media @tablet {
      margin-bottom: 2rem;
        }
        @media @phone {
            text-align: center;
            margin-bottom: 4rem;
        }
        img{
            height: 15rem;
        @media @phone {
            height: 15rem;
        }
        }
        .card-text{
            text-align: center;
            font-size: 3rem;
            font-family: 'open sans';
            color: #E3F2FD;
            margin-top: 3rem;
        }
    }
}

