.footer{
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background:  #0D47A1;
    text-align: center;
    .footer-text {
        font-size: 2.5rem;
        font-family: 'open sans';
        color: #E3F2FD;
        
    }
}


.footer-btn {
    font-family: 'open sans';
    background-color: #1976D2;
    color: #E3F2FD;
    outline: none;
    margin-top: 3rem;
    font-size: 2rem;

}
.copy-right {
    font-size: 1rem;
    font-family: 'open sans';
    color: black;
    margin-top: 12rem;
    text-align: center;

}